.app-container {
  height: 100vh;
  background: linear-gradient(135deg, #9331fc, #789bd7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-top: 6px;
  align-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.card {
  width: 420px;
  background: white;
  color: #333;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
