.add-task {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-task input {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.add-task button {
  padding: 10px 18px;
  background: #2575fc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.remove-button {
  margin-left: auto;
  padding: 5px 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.task-list {
  max-height: 300px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.footer button {
  border: none;
  background-color: transparent;
  color: lightgray;
  font-size: 30pm;
}

.add-task button:hover {
  background: #1e63d6;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.done {
  text-decoration: line-through;
  color: #777;
}

.due-soon {
  color: red;
}
